#com_top {
	background-image:url(../pics/com_top.png);
	background-repeat:no-repeat;
	padding-left: 10px;
	padding-top:5px;
	padding-right:25px;
	padding-bottom:1px;
}
#com_center {
	display:block;
	background-image:url(../pics/com_center.png);
	background-repeat:repeat-y;
	padding-left: 10px;
	padding-right:26px;
	padding-bottom:1px;
	padding-top:1px;
}
#com_bottom {
	background-image:url(../pics/com_bottom.png);
	background-repeat:no-repeat;
	padding-left: 10px;
	padding-top:1px;
	padding-bottom: 56px;
	padding-right: 25px;
}
.commentdiv {
	width:650px;
	height:auto;
	color:#FFFFFF;
	margin-bottom:5px;
	margin-left:auto;
	margin-right:auto;
}